<%-include("../partials/header")%>
    <h1 class="display-3 text-center">Weapons</h1>
    <div class="container-fluid text-center">
        <form action="/campaigns/<%=campaign._id%>/story/weapons?_method=PUT" method="POST">
        <table class="w-100 table table-bordered">
            <tr>
                <th class="display-4 mt-4" colspan="5">Simple Weapons</th>
             </tr>
            <tr>
                <th>
                    Weapon
                </th>
                <th>
                    Cost
                </th>
                <th>
                    Damage
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Properties
                </th>
                <%if(playCharacter !== false){%>
                <th>
                    Buy
                </th>
                <%}%>
                <%if(currentUser.id === String(campaign.creator.id)){%>
                    <th><div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkAll">
                        <label class="form-check-label" for="checkAll">
                          Select All
                        </label>
                      </div></th>
                <%}%>
            </tr>
            <%campaign.weapons.forEach(function(weapon){
                if(weapon.Type === "Simple"){%>
                <tr>
                    <td>
                        <%=weapon.Name%>
                    </td>
                    <td>
                       <%=(weapon.Cost/100)%> gp
                    </td>
                    <td>
                        <%=weapon.Damage.Die%> <%=weapon.Damage.Type%>
                    </td>
                    <td>
                        <%if(weapon.Weight <= 100){%>
                            <%=(weapon.Weight/100)%>lb
                        <%}else{%>
                            <%=(weapon.Weight/100)%>lbs
                        <%}%>
                    </td>
                    <td>
                        <%Object.keys(weapon.Properties.toObject()).forEach(function(key){
                            if(key === "Range"){%>
                              <%=key + ":" + weapon.Properties.Range%>
                              <%} else if(key === "TwoHanded"){%>
                                   <%="Two-Handed"%>
                              <%} else {%>
                                  <%=key%>
                              <%}})%>
                    </td>
                    <%if(playCharacter !== false){%>
                        <td><button name="weaponsInput" value="<%=weapon._id%>">Buy Weapon</button></td>
                    <%}%>
                <%if(currentUser.id === String(campaign.creator.id)){%>
                    <td><div class="form-check">
                        <input class="form-check-input" type="checkbox" name="weapons" value="<%=weapon._id%>" id="weaponCheck">
                        <label class="form-check-label" for="defaultCheck1">
                         Select Weapon
                        </label>
                      </div></td>
                <%}%>
                </tr>
                <%}})%>
                <tr>
                   <th class="display-4"colspan="5">Simple Ranged Weapons</th>
                </tr>
                <tr>
                    <th>
                        Weapon
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Properties
                    </th>
                </tr>
                <%campaign.weapons.forEach(function(weapon){
                    if(weapon.Type === "Simple-Ranged"){%>
                    <tr>
                        <td>
                            <%=weapon.Name%>
                        </td>
                        <td>
                           <%=(weapon.Cost/100)%> gp
                        </td>
                        <td>
                            <%=weapon.Damage.Die%> <%=weapon.Damage.Type%>
                        </td>
                        <td>
                            <%if(weapon.Weight <= 100){%>
                                <%=(weapon.Weight/100)%>lb
                            <%}else{%>
                                <%=weapon.Weight%>lbs
                            <%}%>
                        </td>
                        <td>
                            <%Object.keys(weapon.Properties.toObject()).forEach(function(key){
                                if(key === "Range"){%>
                                  <%=key + ":" + weapon.Properties.Range%>
                                  <%} else if(key === "TwoHanded"){%>
                                       <%="Two-Handed"%>
                                  <%} else {%>
                                      <%=key%>
                                  <%}})%>
                        </td>
                        <%if(playCharacter !== false){%>
                            <td><button name="weaponsInput" value="<%=weapon._id%>">Buy Weapon</button></td>
                        <%}%>
                    <%if(currentUser.id === String(campaign.creator.id)){%>
                        <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" name="weapons" value="<%=weapon._id%>" id="weaponCheck">
                            <label class="form-check-label" for="defaultCheck1">
                             Select Weapon
                            </label>
                          </div></td>
                    <%}%>
                    </tr>
                    <%}})%>
                <tr>
                   <th class="display-4"colspan="5">Martial Weapons</th>
                </tr>
                <tr>
                    <th>
                        Weapon
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Properties
                    </th>
                </tr>
                <%campaign.weapons.forEach(function(weapon){
                    if(weapon.Type === "Martial"){%>
                    <tr>
                        <td>
                            <%=weapon.Name%>
                        </td>
                        <td>
                           <%=(weapon.Cost/100)%> gp
                        </td>
                        <td>
                            <%=weapon.Damage.Die%> <%=weapon.Damage.Type%>
                        </td>
                        <td>
                            <%if(weapon.Weight <= 100){%>
                                <%=(weapon.Weight/100)%>lb
                            <%}else{%>
                                <%=(weapon.Weight/100)%>lbs
                            <%}%>
                        </td>
                        <td>
                            <%Object.keys(weapon.Properties.toObject()).forEach(function(key){
                                if(key === "Range"){%>
                                  <%=key + ":" + weapon.Properties.Range%>
                                  <%} else if(key === "TwoHanded"){%>
                                       <%="Two-Handed"%>
                                  <%} else {%>
                                      <%=key%>
                                  <%}})%>
                        </td>
                        <%if(playCharacter !== false){%>
                            <td><button name="weaponsInput" value="<%=weapon._id%>">Buy Weapon</button></td>
                        <%}%>
                    <%if(currentUser.id === String(campaign.creator.id)){%>
                        <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" name="weapons" value="<%=weapon._id%>" id="weaponCheck">
                            <label class="form-check-label" for="defaultCheck1">
                             Select Weapon
                            </label>
                          </div></td>
                    <%}%>
                    </tr>
                    <%}})%>
                <tr>
                   <th class="display-4"colspan="5">Martial Ranged Weapons</th>
                </tr>
                <tr>
                    <th>
                        Weapon
                    </th>
                    <th>
                        Cost
                    </th>
                    <th>
                        Damage
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Properties
                    </th>
                </tr>
                <%campaign.weapons.forEach(function(weapon){
                    if(weapon.Type === "Martial-Ranged"){%>
                    <tr>
                        <td>
                            <%=weapon.Name%>
                        </td>
                        <td>
                           <%=(weapon.Cost/100)%> gp
                        </td>
                        <td>
                            <%=weapon.Damage.Die%> <%=weapon.Damage.Type%>
                        </td>
                        <td>
                            <%if(weapon.Weight <= 100){%>
                                <%=(weapon.Weight/100)%>lb
                            <%}else{%>
                                <%=(weapon.Weight/100)%>lbs
                            <%}%>
                        </td>
                        <td>
                            <%Object.keys(weapon.Properties.toObject()).forEach(function(key){
                                if(key === "Range"){%>
                                  <%=key + ":" + weapon.Properties.Range%>
                                  <%}else{%>
                                      <%=key%>
                                  <%}})%>
                        </td>
                        <%if(playCharacter !== false){%>
                            <td><button name="weaponsInput" value="<%=weapon._id%>">Buy Weapon</button></td>
                        <%}%>
                    <%if(currentUser.id === String(campaign.creator.id)){%>
                        <td><div class="form-check">
                            <input class="form-check-input" type="checkbox" name="weapons" value="<%=weapon._id%>" id="weaponCheck">
                            <label class="form-check-label" for="defaultCheck1">
                             Select Weapon
                            </label>
                          </div></td>
                    <%}%>
                    </tr>
                    <%}})%>
        </table>
        </form>
        <%if(currentUser.id === String(campaign.creator.id)){%>
            <a class="btn btn-lg btn-success" href="/campaigns/<%=campaign._id%>/story/weapons/new">Add Weapon</a>
        <%}%>
    </div>

<%-include("../partials/footer")%>

