<%-include ("../partials/header")%>
<div class="d-flex p-3">
    <div class="notes w-50 m">
    <%campaign.notes.forEach(function(note){%>
    <div class="notes">
        <div class="note d-flex flex-column align-items-start" >
            <button type="button" data-toggle="modal" data-target="#noteModal" data-title="<%=note.Title%>" data-text="<%=note.Paragraph%>" data-user="<%=note.User%>"><h2><%=note.Title%></h2></button>
            <h4 class="align-self-end">-<%=note.User%></h4>
            <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="<%=note.id%>Label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="<%=note.id%>Label"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text"></p>
                            <p class="user"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%})%>
    </div>
    <form class="w-50 d-flex flex-column align-items-end noteForm" action="/campaigns/<%=campaign._id%>/notes" method="POST">
        <input type="text" name="Note[Title]" id="Title" class="form-control my-2" placeholder="Title"/>
        <textarea name="Note[Paragraph]" id="Paragraph" value="" rows="10" placeholder="New Note" class="form-control my-2"></textarea>
        <button class="btn btn-success btn-lg w-50 my-2">Submit</button>
    </form>

</div>

<%-include ("../partials/footer")%>