<%- include("../partials/header")%>
<h1>Edit Character</h1>
<div class="container-fluid">
<form action="/<%=campaign._id%>/characters/<%=character._id%>?_method=PUT" method="POST">
   <div class="form-row">
        <%for(var i = 0; i < 6; i++){
            var attr = Object.keys(character.Attributes.toObject())[i]
            var val = Object.values(character.Attributes.toObject())[i]%>
        <div id="<%=attr%>" class="col-2 attr text-center">
            <label class="display-5 mt-4" for="Attribute[<%=attr%>]"><%=attr%></label>
            <input class="w-100 bg-transparent display-2" type="number" name="Attributes[<%=attr%>]" step="1" min="0" length="2" value="<%=val%>">
        </div>
<%}%>
   </div>
   <div class="form-row">
    <% for(var i = 2; i < 13; i++){
        var def = Object.keys(character._doc)[i];
        var arg = Object.values(character._doc)[i];%>
            <div class="form-group col-4">
            <label for="character[<%=def%>]"><%=def%></label>
            <input type="text" name="character[<%=def%>]" placeholder="<%=def%>" value="<%=arg%>" require>
        </div>
    <%}%>
   </div>
    
    
    
   

    <button class="btn btn-lg btn-success">Finish Character</button>
</form>
</div>
<%- include("../partials/footer")%>