<%- include("../partials/header")%>
<%console.log(character.creator)%>
<div class="container-fluid">
	<div class="row">
		<h2 class="text-center w-100">
			<%=character.Name%> The <%=character.Race%> <%=character.Class%>
		</h2>
		<%if(character.creator.id.equals(currentUser._id)) {%>
			<%if(playCharacter === false){%>
			<a href="/campaigns/<%=campaign._id%>/characters/<%=character._id%>/edit"><button class="btn btn-success btn-large rounded">Edit</button></a>
			<form action="/campaigns/<%=campaign._id%>/characters/<%=character._id%>?_method=DELETE" method="POST"><button class="btn btn-danger btn-large rounded">Delete</button></form>
			<form id="CharPlay" action="/campaigns/<%=campaign._id%>/characters/<%=character._id%>/play" method="POST"><button class="btn btn-primary btn-large rounded">Play as <%=character.Name%></button></form> 
			<%}%>
			<%}%>
	</div>
	<div class="row text-center">
				<%for(let [key, value] of Object.entries(character.Attributes.toObject())){
					if(key !== "_id"){%>
					<div class="<%=key%> attr m-0 col-4 col-md-2 w-100">
						<h5><%=key%></h5>
						<h4><%=value["Value"]%></h4>
						<%if(playCharacter){%>
						<button class="mt-5 AttrPlaybtn btn btn-sm btn-danger" data-toggle="popover" data-title="<%=key%> Rolls" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header <%=key%>btn"></h3><div class="popover-body <%=key%>btn"></div></div>'>Roll for <%=key%></button>
						<div class="AttrPlay <%=key%>btn"><button id="<%=key%>-Value" class="<%=character.Class%>" onclick="rollAttr(<%=value['Value']%>, 0)"><%=key%> Roll</button> <br>
						<%for(let [keytwo, valuetwo] of Object.entries(value)){
							if(keytwo !== "Value" && keytwo !== "_id"){%>
								<button id="<%=key%>-<%=keytwo%>" class="<%=character.Class%>" onclick="rollAttr(<%=value['Value']%>, <%=character.Proficiency%>)"><%=keytwo%> Roll</button> <br>
							<%}else if(keytwo !== "Value" && keytwo !== "_id" ){%>
								<button id="<%=key%>-<%=keytwo%>" class="<%=character.Class%>" onclick="rollAttr(<%=value['Value']%>, 0)"><%=keytwo%> Roll</button><br>
							<%}
						}%>
						</div>
						<%}%>
					</div>
<%}}%>
	</div>
</div>
<div class="container mt-5">
		<div class="row">
			<div class="col-4">
				<img class="img-thumbnail" src="<%=character.Image%>">
			</div>
			<div class="col-8 rounded <%=character.Class%>">
				<ul id="charSheet" class="nav nav-tabs">
					<li class="nav-item">
					  <a id="BioBtn" class="Charshow nav-link active" href="javascript:void(0)">Bio</a>
					</li>
					<li class="nav-item">
					  <a id="WeapBtn" class="Charshow nav-link"href="javascript:void(0)">Weapons</a>
					</li>
					<li class="nav-item">
					  <a id="ItemBtn" class="Charshow nav-link"href="javascript:void(0)">Items</a>
					</li>
					<li class="nav-item">
					  <a id="SpBtn" class="Charshow nav-link"href="javascript:void(0)">Spells</a>
					</li>
					<li class="nav-item">
					  <a id="MiscBtn" class="Charshow nav-link"href="javascript:void(0)">Misc</a>
					</li>
				  </ul>
				<div id="Bio" class="charDiv row">
					<% for(let [key, value] of Entries){
						if(typeof value === "string" && key !== "Image" || key === "Age"){%>
					<div class="col-6 py-3 attrCard"><h3><%=key%>:<%=value%></h3></div>
					<%}}%> 
					<div class="col-6 py-3 attrCard"><h3>Armour:<%character.Armour.forEach(function(armour){%><%=armour.Name%>, +<%=armour.Class%>,<%})%></h3></div></div>
				<div id="WepCard" class="charDiv pt-3 col-12">
					<h3>Weapons:</h3>
						<table class="table table-dark">
							<tr>
								<th>Name</th>
								<th>Damage</th>
								<th>Properties</th>
							</tr>
							<%character.Weapons.forEach(function(weapon){%>
								<tr>
									<%if(character._id.equals(playCharacter._id)){%>									<td><button class="weapPlaybtn btn btn-sm <%=character.Class%>" data-toggle="popover" data-title="Attack with <%=weapon.Name%>" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header <%=character.Class%>"></h3><div class="popover-body <%=character.Class%>"></div></div>'><%=weapon.Name%></button>
									<div class="WeapPlay <%=character.Class%>">
										<button id="<%=weapon.Name%>Hit" type="button" class="<%=character.Class%> btn btn-sm rollHit" onclick="rollAttr(<%=character.Attributes.Strength.Value%>, 0)">Roll to Hit</button>
										<a class="<%=character.Class%> btn btn-sm rollDam" onclick="rollWeap(<%=weapon.Damage.Die.split('D')[0]%>, <%=weapon.Damage.Die.split('D')[1]%>)">Roll Damage</a>
										<%if(weapon.Properties.Finesse){%><a class="<%=character.Class%> btn btn-sm rollFin" onclick="rollWeapFin(<%=weapon.Damage.Die.split('D')[0]%>, <%=weapon.Damage.Die.split('D')[1]%>)">Roll Finesse</a><%}%>
									</div>
									</td><%}else{%>
									<td><%=weapon.Name%></td><%}%>
									<td><%=weapon.Damage.Die%>: <%=weapon.Damage.Type%></td>
									<td><%Object.keys(weapon.Properties.toObject()).forEach(function(key){
										if(key === "Range"){%>
										  <%=key + ":" + weapon.Properties.Range%>
										  <%} else if(key === "TwoHanded"){%>
											   <%="Two-Handed"%>
										  <%} else {%>
											  <%=key%>
										  <%}})%></td>
								</tr>
								</div>
								 <%})%>
						</table>
				</div>	
				<div id="ItemCard" class="charDiv pt-3 col-12">
					<h3>Items:</h3>
						<table class="table table-dark">
							<tr>
								<th>Name</th>
								<th>Amount</th>
								<th>Weight</th>
							</tr>
							<%character.Items.forEach(function(item){%>
								<tr>
									<%if(character._id.equals(playCharacter._id)){%>
									<td><button class="btn btn-sm <%=character.Class%>" data-toggle="popover" data-title="Attack with <%=item.Name%>" data-template='<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-header <%=character.Class%>"></h3><div class="popover-body <%=character.Class%>"></div></div>'><%=item.Name%></button></td>
									<%}else{%>
									<td><%=item.Name%></td><%}%>
									<td><%=item.Amount/100%></td>
									<td><%=(item.Weight/100)%><%if(item.Weight <= 100){%> lb<%}else{%>lbs<%}%></td>
								</tr>
								<div class="ItemPlay <%=character.Class%>">
									<button id="<%=item.Name%>Hit" type="button" class="<%=character.Class%> btn btn-sm rollHit" onclick="rollAttr(<%=character.Attributes.Strength.Value%>, 0)">Use</button>
								</div> <%})%>
						</table>
				</div>	
			</div>
		</div>
</div>
<%- include("../partials/footer")%>